body *{
  /* every element within i.e. body*/
  box-sizing: border-box;
}

h1 {
  font-size: x-large;
  /*em - relational to the size of an m */
  text-align: center;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: large;
}

#keystone1 {
  display: block;
  width: 70%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-family: cursive;
  color: black;
  background-color: peachpuff;
  border: 5px black;
  border-style: double;
  margin: 20px;
  padding: 10px;
  }

section {
  display: b;
  max-width: 90%;
  border: 3px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: peachpuff;
  color: black;
}

#pwelcome {
  width: 80%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: justify;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}
